*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1150px;
  margin: auto;
}
.home-hero{

}

.home-hero__heading{
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.home-hero__balance{
  text-align: center;
}

.home-hero__income-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.transection-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.transection-history__heading{
  text-align: center;
}

.transecton-list{
  list-style: none;
  width: 350px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.transection-list__item{
  padding: 0.5rem;
  border-bottom: 1px dotted #000;
}

/* .transection-list__item:last-child{
  border: none;
} */

.transection-list__item-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.button{
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
}
.modal-overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 320px;
}

.add-trnx-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  padding: 5px 8px;
}

label{
  margin: 8px 0;
}

.add-trnx-form button{
  margin-top: 1rem;
}
.all-transection-heading{
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.all-Transection-list{
  align-items: center;
  border-collapse: collapse;
  margin: auto;
}

.all-transection-list-row{
  padding: 5px 8px;
}

.all-transection-list-data{
  padding: 1rem 2rem;
  text-align: center;
}