*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1150px;
  margin: auto;
}
.home-hero{

}

.home-hero__heading{
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.home-hero__balance{
  text-align: center;
}

.home-hero__income-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}